.login{
    display: grid;
    place-items: center;
    height: 100vh;
    // background-color: whitesmoke;

    .logo{
        width: 100px;

        img{
            width: 100%;
        }
    }

    a{
        padding: 20px;
        border-radius: 99px;
        background-color:  #946ed6;
        font-weight: 800;
        color: whitesmoke;
        text-decoration: none;

    }
}